<?xml version="1.0" ?>
<!--
/**
 * Pmclain_Stripe extension
 * NOTICE OF LICENSE
 *
 * This source file is subject to the OSL 3.0 License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @category  Pmclain
 * @package   Pmclain_Stripe
 * @copyright Copyright (c) 2017-2018
 * @license   Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <pmclain_stripe>
        <model>StripeFacade</model>
        <payment_action>authorize</payment_action>
        <active>0</active>
        <title>Stripe Credit Card</title>
        <is_gateway>1</is_gateway>
        <can_use_checkout>1</can_use_checkout>
        <can_authorize>1</can_authorize>
        <can_capture>1</can_capture>
        <can_capture_partial>1</can_capture_partial>
        <can_authorize_vault>1</can_authorize_vault>
        <can_capture_vault>1</can_capture_vault>
        <can_use_internal>1</can_use_internal>
        <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
        <can_refund>1</can_refund>
        <can_void>1</can_void>
        <can_cancel>1</can_cancel>
        <can_edit>1</can_edit>
        <can_review_payment>1</can_review_payment>
        <can_deny_payment>1</can_deny_payment>
        <cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>
        <useccv>1</useccv>
        <cctypes_stripe_mapper><![CDATA[{"american-express":"AE","discover":"DI","jcb":"JCB","mastercard":"MC","master-card":"MC","visa":"VI","maestro":"MI","diners-club":"DN","unionpay":"CUP"}]]></cctypes_stripe_mapper>
        <order_status>processing</order_status>
        <debug>0</debug>
        <currency>USD</currency>
        <test_mode>1</test_mode>
        <test_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
        <test_publishable_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
        <live_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
        <live_publishable_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
        <verify_3dsecure>0</verify_3dsecure>
        <threshold_amount>0.00</threshold_amount>
      </pmclain_stripe>
      <pmclain_stripe_vault>
        <model>StripeCreditCardVaultFacade</model>
        <title>Stored Cards (Stripe)</title>
        <active>1</active>
        <instant_purchase>
          <supported>1</supported>
          <tokenFormat>Pmclain\Stripe\Model\InstantPurchase\CreditCard\TokenFormatter</tokenFormat>
        </instant_purchase>
      </pmclain_stripe_vault>
    </payment>
  </default>
</config>