<?xml version="1.0" ?>
<!--
/**
 * Pmclain_Stripe extension
 * NOTICE OF LICENSE
 *
 * This source file is subject to the OSL 3.0 License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @category  Pmclain
 * @package   Pmclain_Stripe
 * @copyright Copyright (c) 2017-2018
 * @license   Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="pmclain_stripe" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Stripe</label>
        <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Payment Action</label>
          <source_model>Pmclain\Stripe\Model\Adminhtml\Source\PaymentAction</source_model>
        </field>
        <field id="order_status" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>New Order Status</label>
          <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
        </field>
        <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Title</label>
        </field>
        <field id="test_mode" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Test Mode</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="test_secret_key" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Test Secret Key</label>
          <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
          <depends>
            <field id="test_mode">1</field>
          </depends>
        </field>
        <field id="test_publishable_key" translate="label" type="obscure" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Test Publishable Key</label>
          <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
          <depends>
            <field id="test_mode">1</field>
          </depends>
        </field>
        <field id="live_secret_key" translate="label" type="obscure" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Live Secret Key</label>
          <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
          <depends>
            <field id="test_mode">0</field>
          </depends>
        </field>
        <field id="live_publishable_key" translate="label" type="obscure" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Live Publishable Key</label>
          <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
          <depends>
            <field id="test_mode">0</field>
          </depends>
        </field>
        <field id="currency" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Accepted Currency</label>
          <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
        </field>
        <field id="cctypes" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Credit Card Types</label>
          <source_model>Pmclain\Stripe\Model\Adminhtml\Source\Cctype</source_model>
        </field>
        <field id="useccv" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Credit Card Verification</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="debug" translate="label" type="select" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Debug</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Payment from Applicable Countries</label>
          <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
        </field>
        <field id="pmclain_stripe_vault_active" translate="label" type="select" sortOrder="125" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Allow Stored Credit Cards</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <config_path>payment/pmclain_stripe_vault/active</config_path>
        </field>
        <field id="specificcountry" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Payment from Specific Countries</label>
          <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
        </field>
        <field id="verify_3dsecure" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>3D Secure Verification</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="threshold_amount" translate="label comment" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Threshold Amount</label>
          <comment>Minimum amount to require 3D secure verification.</comment>
        </field>
        <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Minimum Order Total</label>
        </field>
        <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Maximum Order Total</label>
        </field>
        <field id="sort_order" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Sort Order</label>
          <frontend_class>validate-number</frontend_class>
        </field>
      </group>
    </section>
  </system>
</config>